*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            /* Font Setup ====================*/
        @font-face { font-family: pizza bold; src: url(./assets/PizzaBold.otf); }
        @font-face { font-family: pizza semi-bold; src: url(./assets/PizzaSemiBold.ttf); }
        @font-face { font-family: pizza regular; src: url(./assets/Pizzaregular.ttf); }

            /* Padding Margin Setup ============== */
        .plr-120{padding-left: 120px; padding-right: 120px;}
        .ptb-80{padding-top: 80px; padding-bottom: 80px;}
        .mlr-30{margin-left: 30px; margin-right: 30px;}
        .mtb-30{margin-top: 30px; margin-bottom: 30px;}


        .sub-heading{
            font-family: pizza regular, sens-serif;
            text-align: center; color: rgb(73, 104, 255);
            font-size: 18px; text-transform: uppercase; }

        .heading{
            text-align: center;
            font-family: pizza bold, sens-serif;
            color: #FC9631; font-size: 35px;
            text-transform: uppercase; margin-bottom: 20px; }


header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
                      url('./assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 120px ;
    position:relative;
}
header .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo{
    max-width: 80px;
}

.nav-container .logo img{
    width: 100%;
}

.nav-list ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.nav-list ul li{
    list-style-type: none;
}

.nav-list ul li a, .user-profile a{
    font-family: pizza regular, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.user-profile a{color: #fff;}
.nav-list ul li a:hover{
    color: #F8D02A;
}

.nav-container .user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; }

.nav-container .user-profile a{
    width:25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    text-decoration: none;
    line-height: 25px;
    color: #fff;
    background-color: #ffffff66;
    transition: .3s all;
}

.nav-container .user-profile a:hover
{ transform: rotate(360deg); background-color: #FC9631; color: #000; transition: .2s;}

header .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 62%;
    transform: translateY(-60%);
}

.hero-container .hero-content{
    width: 300px;
    margin: 0 auto;
}

.hero-container .hero-content h2{
    font-family: pizza bold, sans-serif;
    font-size: 66px;
    color: #ffffff;
    font-weight: 600;
    line-height: 70px;
}
.hero-container .hero-content h2 span{
    text-transform: uppercase;
    color: #FC9631;
}

.hero-container .hero-content h3{
    font-family: pizza semi bold, sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    line-height: 35px;
    margin-top: 10px;
}

.hero-container .hero-content p{
    font-family: pizza regular, sans-serif;
    margin: 10px 0;
    font-size: 16px;
    color: hsl(0, 0%, 68%);
    line-height: 20px;
    text-align: justify;
}

.hero-container .hero-image{
    max-width: 680px;
}

.hero-container .hero-image img{
    width: 100%;
    display: block;
    object-fit: cover;
    background-position: center;
    transition: all .5s;
}

.hero-container .hero-image img:hover{
    transform: scale(.98);     transition: all .3s; }
    
.btn{               /* header order button */
    font-family: pizza semi bold, sans-serif;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding: 11px 25px;
    border-radius: 8px;
    background-color: #FC9631;
    transition: all .5s;}

.btn:hover{ background-color: #F8D02A; transition: .3s;}
    
.hero-container .hero-image img{
    width: 100%;}



            /* dishes section start */
            /* dishes section start */
            /* dishes section start */

.menu-container{
    background: rgb(255, 250, 245);
}
.dishes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dishes-container .dish{
    width: 300px;
    height: auto;
    border-radius: 8px;
    background: #fff;
    padding: 2px;
    border: 6px solid #f1f1f1;
    box-shadow: 0px 0px 02px #000;
    position: relative;
}

.dishes-container .dish .image{
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.dishes-container .dish .image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.dish .side-heart .fa-heart{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    height: 35px;
    background: rgba(73, 103, 255, 0.514);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 35px;
    text-align: center;
    transition: all .3s;
}

.dish .side-heart .fa-heart:hover{
    background:rgb(73, 104, 255);
    transition: .3s all;
}

.dish .dish-info{ padding: 0 12px 15px 12px;}

.title{
    font-size: 24px;
    color: rgb(73, 104, 255);
    text-transform: capitalize;
    text-align: center;
    font-family: pizza bold, sens-serif;
    margin-bottom: 8px; }

.stars{display: flex; align-items: center; justify-content: center; 
      text-align: center; grid: 1px;}

.stars i{
    width: 18px; height: 18px; line-height: 18px;
    font-size: 16px; color: #FC9631;}

.price-btn{ 
    display: flex; align-items: center; justify-content: center; 
    gap: 8px; margin-top: 8px;}

.price{ font-size: 18px; font-family: pizza regular; font-weight: bold;
    color: rgb(73, 104, 255); margin-top: 10px; text-align: center;
}

.price del{
    color: rgb(121, 143, 255); font-size: 18px; margin-right: 5px; }


.order-btns{display: flex; justify-content: center; align-items: center;
            gap: 10px; margin-top: 15px;}
    
.order-btns .order-btn,
.order-btns .add-to-cart{               /* order button */
    font-family: pizza semi bold, sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 6px 8px;
    color: #FC9631;
    border: 3px solid #FC9631;
    border-radius: 5px;
    transition: all .3s;
    transition-delay: 0.1s;}


.order-btns .order-btn:hover
    { background: #FC9631; color: #fff; transition: .3s; }

.order-btns .add-to-cart{           /* ATC button */
    border: 3px solid #4968ff; color: #4968ff;}

.order-btns .add-to-cart:hover
{ background: #4968ff; color: #fff; transition: .3s;}

            /* dishes section end */
